.card {
    float: left;
    width: 80%;
}

.card div {
    float: left;
    border-radius: 4px;
    width: 20%;
    background-color: royalblue;
    margin: 2%;
    box-shadow: 2px 2px 2px #666;
    padding-left: 1%;
}

.card h4,.cardfoot{
    height: 30px;
    color: #fff;
}

.card h4{
    padding-top: 1%;
    padding-bottom: 1%;
}

.card a{
    float: right;
    margin-top: 8%;
    margin-right: 6%;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-decoration: none;
}

.card #mod{
    margin-top: 7.2%;
}

#lista{
    float: right;
    padding-top: 0.5%;
}

#lista ul{
    float: right;
    list-style: none;
    border-radius: 4px;
    background-color: #333;
    padding: 1em;
    height: 500px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

#lista a{
    float: right;
    color: #fff;
    padding: 0.5em;
    padding-right: 0;
    float: left;
    text-decoration: none;
}

#lista #votos{
    border-radius: 4px;
    background-color: green;
    color: #fff;
    margin-left: 1em;
    padding: 0.5em;
    float: right;
}


.interior{
    height: 80px;
    background-color: #fff;
    margin: -2% -2%;
    margin-right: 0%;
    margin-left: -4.5%;
    padding-left: 4%;
    padding-top: 2%;
    padding-right: 1%;
    padding-bottom: 1%;
}

#anadir #img{
    text-align: center;
    font-size: 50px;
    color: #ccc;
    height: 60px;
    background-color: #fff;
    margin: -2% -2%;
    margin-right: 0%;
    margin-left: -4.5%;
    padding-top: 2%;
    padding-bottom: 1%;

}