.card div {
    float: left;
    border-radius: 4px;
    width: 20%;
    background-color: rgb(0, 94, 255);
    margin: 2%;
    box-shadow: 2px 2px 2px #666;
    padding-left: 1%;
}

.card h4,.cardfoot{
    color: #fff;
}


.card h4{
    padding-top: 1%;
    padding-bottom: 1%;
}

.card a{
    float: right;
}

#interior{
    height: 60px;
    background-color: #fff;
    margin: -2% -2%;
    margin-right: 0%;
    margin-left: -4.5%;
    padding-left: 4%;
    padding-top: 2%;
    padding-bottom: 1%;
}

#anadir #img{
    text-align: center;
    font-size: 50px;
    color: #ccc;
    height: 60px;
    background-color: #fff;
    margin: -2% -2%;
    margin-right: 0%;
    margin-left: -4.5%;
    padding-top: 2%;
    padding-bottom: 1%;

}