.card div {
    float: left;
    border-radius: 4px;
    width: 20%;
    background-color: royalblue;
    margin: 2%;
    box-shadow: 2px 2px 2px #666;
    padding-left: 1%;
}

.card h4,.cardfoot{
    color: #fff;
}


.card h4{
    padding-top: 1%;
    padding-bottom: 1%;
}

.card a{
    float: right;
    margin-top: 8%;
    margin-right: 6%;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-decoration: none;
}

.card #mod{
    margin-top: 7.2%;
}

.interior{
    height: 60px;
    background-color: #fff;
    margin: -2% -2%;
    margin-right: 0%;
    margin-left: -4.5%;
    padding-left: 4%;
    padding-top: 2%;
    padding-bottom: 1%;
}

#anadir #img{
    text-align: center;
    font-size: 50px;
    color: #ccc;
    height: 60px;
    background-color: #fff;
    margin: -2% -2%;
    margin-right: 0%;
    margin-left: -4.5%;
    padding-top: 2%;
    padding-bottom: 1%;

}