body{
    background: url(../img/backgorund.png) no-repeat;
}

#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius: 4px;
}

#nav li {
    float: left;
}

#nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
#nav li a:hover {
    background-color: #111;
}

#nav .spec{
    float: right;
}

#feet{
    float: left;
    position: fixed;
    width: 99.5%;
    bottom: 0em;
    text-align: left;
    border-radius: 4px;

    padding-left: 0.5em;
    margin-bottom: 0.5em;
    font-size: 16px;
    font-style: oblique;
    background-color: #333;
    color: #fff;
}

#fecha{
     float: right;
     margin-right: 1%;
}

main .warning{
    margin-top: 0.5%;
    padding: 0.1em ;
    text-align: center;
    background-color: rgb(253, 201, 87);
}

main .error{
    margin-top: 0.5%;
    padding: 0.1em ;
    text-align: center;
    background-color: rgb(245, 31, 31);
}